/* DEFAULT*/
body { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    background-color: palegreen;
    font-family: arial,verdana,sans-serif;
    font-size:12px;
    color: lightgray;
}

#adminOnly {
    visibility: hidden;
}

/* HEADER */
#logo {
    display: inline;
}

#donut {
    width: 40px;
    height: 40px;
    margin: 0px 3px 0px 3px;
    padding: 0px;
}

#nav {
    background:aliceblue;
    color: palegoldenrod;
    padding:5px;
    font-size:17px;
 }

 /* LINK */
 a {
    color: inherit; /* blue colors for links too */
    margin: 1px;
    padding: 5px;
    text-decoration: inherit; /* no underline */
}

a:hover {
    color: pink;
}

/* BODY */
.outer {
    position: absolute;
    height: 90%;
    width: 100%;
}

.middle {
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 400px;
    /*whatever width you want*/
}

/* FORM */
.form-container {
    color: palevioletred;
}

/* FOOTER */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background:salmon;
    color: coral;
    text-align: center;
    font-style: italic;
}